
@{
    ViewData["Title"] = "MemesHistory";
    // Top 10 News List
    var top10news = new List<News>()
    {
        new News(1, "Topic 1", "Desc 1", "1"),
        new News(2, "Topic 2", "Desc 2", "12"),
        new News(3, "Topic 3", "Desc 3", "8"),
        new News(4, "Topic 4", "Desc 4", "6"),
        new News(5, "Topic 5", "Desc 5", "11"),
        new News(6, "Topic 6", "Desc 6", "13"),
        new News(7, "Topic 7", "Desc 7", "19"),
        new News(8, "Topic 8", "Desc 8", "15"),
        new News(9, "Topic 9", "Desc 9", "3"),
        new News(10, "Topic 10", "Desc 10", "10")
    };
}
<div class="main-container my-5">
    <div class="row"></div>
    <div class="row"></div>
</div>

